.image1{
    width: 1510px;
}

.allData{
    border: 1px solid red;
    width: 100%;
    height: 1800px;
}
.News{
    border: 1px solid green;
    width: 100%;
    height: 2500px;
}
.firstData{
    display: flex;
    width: 100%;
    border: 1px solid red;
    height: 50px;
    justify-content: space-around;
}

@media all and (max-width: 640px) {
    *{
        box-sizing: border-box;
    }
    .firstData{
        display: block;
        background-color: red;
        width: 100%;
        border: 1px solid green;
        height: 180px;
        justify-content: none;
    }

}

@media all and (min-width: 641px) and (max-width: 1007px) { 
    *{
        box-sizing: border-box;
    }
    .firstData{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 2;
        background-color: yellow;
        width: 100%;
        border: 1px solid green;
        height: 100px;
        justify-content: space-around;
    }

}